<!-- 
  Name: Jun Song
Seneca ID Number : 141973198
Date: 2020-10-25
Purpose: approve for submitting WEB322 Assignment2
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/logo.ico">
    <title>About WWBnB</title>
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    /> -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/aboutUs.css" />
    <script src="js/index.js" defer></script>

    <script src="https://kit.fontawesome.com/a3fe2e3e5e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="overlay">
        {{> sign_login}}
    </div>
    <header>
        {{> header}}
    </header>
    <main>
        <div style="color: black; text-align: center;">
            {{messages}}
        </div>
        <div style="text-align: center;">
            <a style="color: black;" href=" /">
                <i class="fas fa-arrow-left"></i>&nbsp;Back
            </a>
        </div>
    </main>
    <div class="line"></div>
    <footer>
    </footer>
</body>

</html>